@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* General-Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

.container {
    width: 95%;
    margin: 0 auto;
}

/* Navbar */

.navbar,
.hero {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: extra-bold ;
    color: #f9faf8;
    margin-left:250px;
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 250px;
    font-size: 20px;
    
}

.nav-link2 {
    margin-left: 40px;
}

/* Hero */

.hero {
    padding: 130px 0 130px 0;
}

.hero-column1 {
    margin-left:250px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-right: 30px;
    width: 30%;
}

h2 {
    font-size: 50px;
    font-weight:700 ;
    color: #f9faf8;
    margin-bottom: 30px;
    
}

.hero-text {
    line-height: 30px;
    font-size: 20px;
}

.btn-signup {
    background-color: #3882f6;
    padding: 10px 30px;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0 170px 0;
}

.hero-column2 {
    margin-right: 250px;
    margin-left: 40px;

}

.hero-img {
    width: 80%;
    height: 65%;
    margin-left: 100px;
    float: right;
}